<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' https://cdn.jsdelivr.net;">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  <title>Munter: Drink Tracker</title>

  <link rel="stylesheet" href="/static/css/style.css" />
  <link rel="manifest" href="/static/manifest.json" />
  <link rel="icon" type="image/x-icon" href="/static/images/favicon.png" />
</head>
<body class="page">
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>

  <nav class="navbar">
    <a href="/add" class="nav-button">Log Drink</a>
    <a href="/stats" class="nav-button">Stats</a>
    <a href="/ranks" class="nav-button">Ranks</a>
    <a href="/" class="nav-button">Home</a>
  </nav>

  <script src="/static/js/app.js"></script>
  <script>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('/static/service-worker.js')
      .then(reg => console.log("Service Worker registered:", reg))
      .catch(err => console.error("Service Worker error:", err));
  }
</script>
</body>
</html>
