
{% extends "base.html" %}

{% block content %}

<div class="container">

    <h1>Welcome to Monster Hunter,
        AKA Munter </h1>

</div>

<br>


<body>
<div class="centering">
  <div class="home-drinks-container" style="overflow-x: auto;">
    <table>
      <thead>
        <tr>
          <th style="width: 70%">Flavour</th>
          <th style="width: 15%">Drinks</th>
          <th style="width: 15%">Caffeine</th>
        </tr>
      </thead>
      <tbody>
        {% for loggedDrink in flavours %}
          <tr>
            <td>{{ loggedDrink.flavour }}</td>
            <td>{{ loggedDrink.totalDrinks }}</td>
            <td>
                {% if loggedDrink.totalCaffeine >= 1000000 %}
                  {{ (loggedDrink.totalCaffeine / 1000000) | round(2) }} kg
                {% elif loggedDrink.totalCaffeine >= 1000 %}
                  {{ (loggedDrink.totalCaffeine / 1000) | round(2) }} g
                {% else %}
                  {{ loggedDrink.totalCaffeine }} mg
                {% endif %}

            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<br>
<h2>Rank Images</h2>
<div class="centering">
  <div class="ranks-container">
    <div style="max-height: 250px; overflow-y: auto;">
      <table class="home-drinks-container">
        <thead>
          <tr>
            <th>Flavour</th>
            <th>Rank</th>
          </tr>
        </thead>
        <tbody>
          {% for flavour in flavour_ranks %}
          <tr>
            <td>{{ flavour.flavour }}</td>
            <td style="text-align: center;">
              <div style="display: flex; flex-direction: column; align-items: center;">
                <div style="margin-bottom: 4px;">{{ flavour.rank }}</div>
                <img src="{{ flavour.image }}"
                    alt="{{ flavour.rank }} badge"
                    width="96" height="96">
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>


</body>


{% endblock %}