{% extends "base.html" %}
{% block content %}
  <h1>Flavour Rankings</h1>

  <div class="centering">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Flavour</th>
          <th>Total Drinks</th>
          <th>Total Caffeine</th>
        </tr>
      </thead>
      <tbody>
        {% for flavour in ranks %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ flavour.flavour }}</td>
          <td>{{ flavour.totalDrinks }}</td>
          <td>
            {% if flavour.totalCaffeine >= 1000000 %}
              {{ (flavour.totalCaffeine / 1000000)|round(2) }} kg
            {% elif flavour.totalCaffeine >= 1000 %}
              {{ (flavour.totalCaffeine / 1000)|round(2) }} g
            {% else %}
              {{ flavour.totalCaffeine }} mg
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
