{% extends "base.html" %}

{% block content %}

  <!-- Allows users to scroll for smaller screens -->


  <!-- Displays the table next to the image if space is avaliable, can be scrolled for smaller screens -->
  <div style="display: inline-block; max-width: 100%; overflow-x: auto;">
  </head>
  <body>

  <h1>Flavour Statistics</h1>

  <table>
    <thead>
      <tr>
        <th>Flavour</th>
        <th>Total Drinks</th>
        <th>Total Caffeine (mg)</th>
      </tr>
    </thead>
    <tbody>
      {% for flavour in flavours %}
        <tr>
          <td>{{ flavour.flavour }}</td>
          <td>{{ flavour.totalDrinks }}</td>
          <td>{{ flavour.totalCaffeine }}</td>
        </tr>
      
    </tbody>
  </table>
  {% endfor %}
  </body>
  </html>

{% endblock %}